*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    position: relative;
    height: 3em;
    background-color: #275937;
    width:100%;
    margin-bottom: 1.5em;

}
body{
    /*padding-left: 2vh;*/
}
#add-note {
    position: fixed;
    right: 0px;
    height:3em;
    width: 20vh;
    background-color: #275937;
    color: #fff;
}
#add-note:hover{
    background-color: #57956b;
}
#add-note > p {
    margin: 10% 15%;
}
#popup-form{
    display:none;
    position: fixed;
    z-index: 10;
    left: 25vh;
    height: 50vh;
    width: 50vh;
    background-color: #7cc2d7;
}
.exit{
    height: 5vh;
    width: 5vh;
    color: #eb6c6c;
    margin-left:85%;
}

.notes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: auto;
    padding-left: 5vh;
}
.note {
    margin: 5% 0 0 0;
    width: 40vh;
    height: 40vh;
    border: 2px solid #064153;
    border-radius: 5%;
}